<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{> page/title}}</title>

    {{{block "stylesheets"}}}
</head>
<body>

    {{{body}}}

    {{{block "scripts"}}}
</body>
</html>
